node_modules
# dist est versionné pour le déploiement sur Peeblehost
# dist
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.DS_Store
*.log

# Fichier exemple à versionner
!.env.example

